Informconf/Connected Services/ServiceReferenceBusiness/Empresas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://webservprod.informconf.com.py/Services/Empresas.svc?xsd=xsd2" />
  <xs:element name="RazonSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RazonSocialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RazonSocialResult" nillable="true" type="DatosEmpresas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandasResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandasResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemandasResumenResult" nillable="true" type="Demandas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InhibicionesResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InhibicionesResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InhibicionesResumenResult" nillable="true" type="Inhibiciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvocatoriasResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvocatoriasResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvocatoriasResumenResult" nillable="true" type="Convocatorias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuiebrasResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuiebrasResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuiebrasResumenResult" nillable="true" type="Quiebras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RematesResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RematesResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RematesResumenResult" nillable="true" type="Remates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MorosidadesActividadResult" nillable="true" type="ArrayOfMorosidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MorosidadesResumenResult" nillable="true" type="MorosidadesResumen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesActividadAdefi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesActividadAdefiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MorosidadesActividadAdefiResult" nillable="true" type="ArrayOfMorosidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesResumenAdefi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesResumenAdefiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MorosidadesResumenAdefiResult" nillable="true" type="MorosidadesResumen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InhabilitacionesResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InhabilitacionesResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InhabilitacionesResumenResult" nillable="true" type="CuentasInhabilitadas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudesDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudesDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitudesDetalleResult" nillable="true" type="ArrayOfInformes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Controlado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControladoResult" nillable="true" type="Controlados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaControlado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tiempo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaControladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaControladoResult" nillable="true" type="ControladosEstadoEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionNegativa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoAfiliado" type="xs:int" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionNegativaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InformacionNegativaResult" nillable="true" type="ArrayOfInformacionNegativaEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionPositiva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoAfiliado" type="xs:int" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionPositivaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InformacionPositivaResult" nillable="true" type="ArrayOfInformacionPositivaEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionActualizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoAfiliado" type="xs:int" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionActualizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InformacionActualizacionResult" nillable="true" type="ArrayOfInformacionActualizacionEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaMorosidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xoMorosidadAlta" nillable="true" type="MorosidadAltaEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaMorosidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaMorosidadesResult" nillable="true" type="RespuestaAlta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesCE30">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesCE30Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MorosidadesCE30Result" nillable="true" type="ArrayOfMorosidadesCE30" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agropecuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgropecuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgropecuarioResult" nillable="true" type="ArrayOfAgropecuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaAgropecuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgropecuarioAlta" nillable="true" type="AgropecuarioAltaEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaAgropecuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaAgropecuarioResult" nillable="true" type="RespuestaAlta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>