Informconf/Connected Services/ServiceReferencePeople/Personas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://efxpywsdev.informconf.com.py/Services/Personas.svc?xsd=xsd2" />
  <xs:element name="DatosPersonales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatosPersonalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DatosPersonalesResult" nillable="true" type="DatosPersonales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UltimaDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UltimaDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UltimaDireccionResult" nillable="true" type="Direccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistorialDirecciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistorialDireccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HistorialDireccionesResult" nillable="true" type="ArrayOfDireccionDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UltimoLugarTrabajo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UltimoLugarTrabajoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UltimoLugarTrabajoResult" nillable="true" type="LugarTrabajo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistorialLugaresTrabajo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistorialLugaresTrabajoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HistorialLugaresTrabajoResult" nillable="true" type="ArrayOfLugarTrabajoDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatosConyuge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatosConyugeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DatosConyugeResult" nillable="true" type="DatosConyuge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandasResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandasResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemandasResumenResult" nillable="true" type="Demandas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InhibicionesResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InhibicionesResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InhibicionesResumenResult" nillable="true" type="Inhibiciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvocatoriasResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvocatoriasResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvocatoriasResumenResult" nillable="true" type="Convocatorias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Quiebras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuiebrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuiebrasResult" nillable="true" type="Quiebras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RematesResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RematesResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RematesResumenResult" nillable="true" type="Remates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MorosidadesActividadResult" nillable="true" type="ArrayOfMorosidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesActividadAdefi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesActividadAdefiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MorosidadesActividadAdefiResult" nillable="true" type="ArrayOfMorosidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InhabilitacionesResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InhabilitacionesResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InhabilitacionesResumenResult" nillable="true" type="CuentasInhabilitadas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudesDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudesDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitudesDetalleResult" nillable="true" type="ArrayOfInformes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudesDetalle2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudesDetalle2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitudesDetalle2Result" nillable="true" type="ArrayOfInformes2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Controlado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControladoResult" nillable="true" type="Controlados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionNegativaScoring">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xiCodigoAfiliado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionNegativaScoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InformacionNegativaScoringResult" nillable="true" type="ArrayOfInformacionNegativaPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionPositivaScoring">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xiCodigoAfiliado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionPositivaScoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InformacionPositivaScoringResult" nillable="true" type="ArrayOfInformacionPositivaPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionActualizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xiCodigoAfiliado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformacionActualizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InformacionActualizacionResult" nillable="true" type="ArrayOfInformacionActualizacionPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Scoring">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScoringResult" nillable="true" type="Scoring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScoringValor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScoringValorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScoringValorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformesEspeciales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformesEspecialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InformesEspecialesResult" nillable="true" type="InformesEspecialesPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformesEspeciales3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformesEspeciales3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InformesEspeciales3Result" nillable="true" type="InformesEspeciales3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformesEspecialesNucleo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformesEspecialesNucleoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InformesEspecialesNucleoResult" nillable="true" type="InformesEspecialesNucleoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaControlado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tiempo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaControladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaControladoResult" nillable="true" type="ControladosEstadoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaMorosidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="morosidadAlta" nillable="true" type="MorosidadAltaPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaMorosidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaMorosidadesResult" nillable="true" type="RespuestaAlta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Novedades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoAfiliado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovedadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NovedadesResult" nillable="true" type="ArrayOfNovedad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlCarteraEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoAfiliado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlCarteraEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControlCarteraEstadoResult" nillable="true" type="ArrayOfControlCarteraEstado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesCE30">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorosidadesCE30Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MorosidadesCE30Result" nillable="true" type="ArrayOfMorosidadesCE30" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EstadoServicioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agropecuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgropecuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgropecuarioResult" nillable="true" type="ArrayOfAgropecuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaAgropecuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgropecuarioAlta" nillable="true" type="AgropecuarioAltaPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaAgropecuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaAgropecuarioResult" nillable="true" type="RespuestaAlta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>